#include "menu_01.h"
MYMENU MENU DISCARDABLE 
BEGIN	
POPUP "&Текст"
	BEGIN	
	MENUITEM  "&DrawText",	IDM_DRAWTEXT
	MENUITEM "&TextOut",		 IDM_TEXTOUT
	END	
POPUP "&Графика"
	BEGIN	
	POPUP "&Примитивы"                    
	        BEGIN	
	            MENUITEM "&Отрезок",	 IDM_LENGTH
	            MENUITEM "&Прямоугольник",	 IDM_RECTANGLE
	        END	
	POPUP "&Эффекты"
	        BEGIN
	            MENUITEM "&Павлин",	IDM_PEACOCK
	            MENUITEM "&Кружева",	IDM_LACES
	        END	
	END	
MENUITEM "&About",		 IDM_ABOUT
END
