
;Small MDI Window - DednDave - 8,2011

;#####################################################################################

#include "\masm32\include\resource.h"

#ifndef  CREATEPROCESS_MANIFEST_RESOURCE_ID
#define  CREATEPROCESS_MANIFEST_RESOURCE_ID  1
#endif

#ifndef  RT_MANIFEST
#define  RT_MANIFEST                         24
#endif

#ifndef  VS_VERSION_INFO
#define  VS_VERSION_INFO                     1
#endif

#ifndef  VOS_NT_WINDOWS32
#define  VOS_NT_WINDOWS32                    0x00040004L
#endif

#ifndef  VFT_APP
#define  VFT_APP                             0x00000001L
#endif

;*************************************************************************************

#define  IDI_ICON                            100
#define  IDM_MAINMENU                        543
#define  IDM_FILENEW                         544
#define  IDM_FILEEXIT                        545
#define  IDM_FILEWINDOW_TILEHORZ             549
#define  IDM_FILEWINDOW_TILEVERT             550
#define  IDM_FILEWINDOW_CASCADE              551
#define  IDM_FILEWINDOW_ARRANGE              552
#define  IDA_ACC                             999

;#####################################################################################

IDI_ICON  ICON  DISCARDABLE  "SmallMDI.ico"

;#####################################################################################

IDM_MAINMENU  MENU
  BEGIN
    POPUP             "&File"
      BEGIN
        MENUITEM      "&New\tCtrl+N",                IDM_FILENEW
        POPUP         "&Arrange"
          BEGIN
            MENUITEM  "&Cascade\tCtrl+C",            IDM_FILEWINDOW_CASCADE
            MENUITEM  "Tile &Horizontally\tCtrl+H",  IDM_FILEWINDOW_TILEHORZ
            MENUITEM  "Tile &Vertically\tCtrl+V",    IDM_FILEWINDOW_TILEVERT
            MENUITEM  "Arrange Icons\tCtrl+I",       IDM_FILEWINDOW_ARRANGE
          END
        MENUITEM      SEPARATOR
        MENUITEM      "E&xit\tCtrl+X",               IDM_FILEEXIT
      END
  END

;*************************************************************************************

IDA_ACC  ACCELERATORS
  BEGIN
    "N",  IDM_FILENEW,              VIRTKEY,  CONTROL,  NOINVERT
    "C",  IDM_FILEWINDOW_CASCADE,   VIRTKEY,  CONTROL,  NOINVERT
    "H",  IDM_FILEWINDOW_TILEHORZ,  VIRTKEY,  CONTROL,  NOINVERT
    "V",  IDM_FILEWINDOW_TILEVERT,  VIRTKEY,  CONTROL,  NOINVERT
    "I",  IDM_FILEWINDOW_ARRANGE,   VIRTKEY,  CONTROL,  NOINVERT
    "X",  IDM_FILEEXIT,             VIRTKEY,  CONTROL,  NOINVERT
  END

;#####################################################################################

; manifest file

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "SmallMDI.xml"

;#####################################################################################

; file version info

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "DednDave\000"
      VALUE "FileDescription",  "Small MDI Window\000"
      VALUE "FileVersion",      "1.0\000"
      VALUE "LegalCopyright",   "\251 2011 David R. Sheldon\000"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 0x4E4
  END
END

;#####################################################################################

