#include "Petzold18mnu.h"

MdiMenuInit MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "New R&2", IDM_NEWHELLO
		MENUITEM "New R&3", IDM_NEWRECT
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END
END

MdiMenuHello MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "New R&2", IDM_NEWHELLO
		MENUITEM "New R&3", IDM_NEWRECT
		MENUITEM "&Close", IDM_CLOSE
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END
	POPUP "&Color"
	BEGIN
		MENUITEM "&Black", IDM_BLACK
		MENUITEM "&Red", IDM_RED
		MENUITEM "&Green", IDM_GREEN
		MENUITEM "B&lue", IDM_BLUE
		MENUITEM "&White", IDM_WHITE
	END
	POPUP "&Window"
	BEGIN
		MENUITEM "&Cascade\tShift+F5", IDM_CASCADE
		MENUITEM "&Tile\tShift+F4", IDM_TILE
		MENUITEM "Arrange &Icons", IDM_ARRANGE
		MENUITEM "Close &All", IDM_CLOSEALL
	END
END

MdiMenuRect MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "New R&2", IDM_NEWHELLO
		MENUITEM "New R&3", IDM_NEWRECT
		MENUITEM "&Close", IDM_CLOSE
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END
	POPUP "&Window"
	BEGIN
		MENUITEM "&Cascade\tShift+F5", IDM_CASCADE
		MENUITEM "&Tile\tShift+F4", IDM_TILE
		MENUITEM "Arrange &Icons", IDM_ARRANGE
		MENUITEM "Close &All", IDM_CLOSEALL
	END
END

MdiAccel ACCELERATORS
BEGIN
	VK_F5, IDM_CASCADE, VIRTKEY, SHIFT
	VK_F4, IDM_TILE, VIRTKEY, SHIFT
END
