#include "MenuFractal.h"

MdiMenuInit MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "New Sierpinski &Sieve", IDM_NEWSIEVE
		MENUITEM "New Sierpinski &Gasket", IDM_NEWGASKET
		MENUITEM "New Sierpinski &Ngon", IDM_NEWNGON
		MENUITEM "New Brownian &Tree", IDM_NEWTREE
		//MENUITEM "&Close", IDM_CLOSE
		//MENUITEM "Close &All", IDM_CLOSEALL
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END
END

MdiMenuSieve MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "New Sierpinski &Sieve", IDM_NEWSIEVE
		MENUITEM "New Sierpinski &Gasket", IDM_NEWGASKET
		MENUITEM "New Sierpinski &Ngon", IDM_NEWNGON
		MENUITEM "New Brownian &Tree", IDM_NEWTREE
		MENUITEM SEPARATOR
		MENUITEM "&Close", IDM_CLOSE
		MENUITEM "Close &All", IDM_CLOSEALL
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END
	POPUP "&Window"
	BEGIN
		MENUITEM "&Cascade\tShift+F5", IDM_CASCADE
		MENUITEM "&Tile Vertical\tShift+F4", IDM_TILE_VER
		MENUITEM "&Tile Horizontal", IDM_TILE_HOR
		MENUITEM "Close &All", IDM_CLOSEALL
	END
END

MdiMenuGasket MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "New Sierpinski &Sieve", IDM_NEWSIEVE
		MENUITEM "New Sierpinski &Gasket", IDM_NEWGASKET
		MENUITEM "New Sierpinski &Ngon", IDM_NEWNGON
		MENUITEM "New Brownian &Tree", IDM_NEWTREE
		MENUITEM SEPARATOR
		MENUITEM "&Close", IDM_CLOSE
		MENUITEM "Close &All", IDM_CLOSEALL
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END
	POPUP "&Window"
	BEGIN
		MENUITEM "&Cascade\tShift+F5", IDM_CASCADE
		MENUITEM "&Tile Vertical\tShift+F4", IDM_TILE_VER
		MENUITEM "&Tile Horizontal", IDM_TILE_HOR
		MENUITEM "Close &All", IDM_CLOSEALL
	END
END

MdiMenuNgon MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "New Sierpinski &Sieve", IDM_NEWSIEVE
		MENUITEM "New Sierpinski &Gasket", IDM_NEWGASKET
		MENUITEM "New Sierpinski &Ngon", IDM_NEWNGON
		MENUITEM "New Brownian &Tree", IDM_NEWTREE
		MENUITEM SEPARATOR
		MENUITEM "&Close", IDM_CLOSE
		MENUITEM "Close &All", IDM_CLOSEALL
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END
	POPUP "&Window"
	BEGIN
		MENUITEM "&Cascade\tShift+F5", IDM_CASCADE
		MENUITEM "&Tile Vertical\tShift+F4", IDM_TILE_VER
		MENUITEM "&Tile Horizontal", IDM_TILE_HOR
		MENUITEM "Close &All", IDM_CLOSEALL
	END
END

MdiMenuTree MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "New Sierpinski &Sieve", IDM_NEWSIEVE
		MENUITEM "New Sierpinski &Gasket", IDM_NEWGASKET
		MENUITEM "New Sierpinski &Ngon", IDM_NEWNGON
		MENUITEM "New Brownian &Tree", IDM_NEWTREE
		MENUITEM SEPARATOR
		MENUITEM "&Close", IDM_CLOSE
		MENUITEM "Close &All", IDM_CLOSEALL
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END
	POPUP "&Window"
	BEGIN
		MENUITEM "&Cascade\tShift+F5", IDM_CASCADE
		MENUITEM "&Tile Vertical\tShift+F4", IDM_TILE_VER
		MENUITEM "&Tile Horizontal", IDM_TILE_HOR
		MENUITEM "Close &All", IDM_CLOSEALL
	END
END

MdiAccel ACCELERATORS
BEGIN
	VK_F5, IDM_CASCADE, VIRTKEY, SHIFT
	VK_F4, IDM_TILE_VER, VIRTKEY, SHIFT
END

