#include	"menu.h"
MYMENU MENU DISCARDABLE 
{	
POPUP "&Текст"
	{	
	MENUITEM  "&DrawText",	IDM_DRAWTEXT
	MENUITEM "&TextOut",		 IDM_TEXTOUT
	}	
POPUP "&Графика"
	{	
	POPUP "&Примитивы"                    
	        {	
	            MENUITEM "&Отрезок",	 IDM_LENGTH
	            MENUITEM "&Прямоугольник",	 IDM_RECTANGLE
	        }	
	POPUP "&Эффекты"
	        {
	            MENUITEM "&Павлин",	IDM_PEACOCK
	            MENUITEM "&Кружева",	IDM_LACES
	        }	
	}	
MENUITEM "&About",		 IDM_ABOUT
}